ud4/XSD08prueba.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!ELEMENT xs:schema (xs:element)*>
<!ATTLIST xs:schema
    version CDATA #IMPLIED
    elementFormDefault CDATA #IMPLIED
    xmlns:xs CDATA #IMPLIED
  >

<!ELEMENT xs:element (xs:complexType)*>
<!ATTLIST xs:element
    name CDATA #IMPLIED
    maxOccurs CDATA #IMPLIED
    type CDATA #IMPLIED
  >

<!ELEMENT xs:complexType (xs:sequence)*>
<!ATTLIST xs:complexType
    mixed CDATA #IMPLIED
  >

<!ELEMENT xs:sequence (xs:element)*>
