ud5/Ejercicio2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name=" garaje" type="garajeType"/>
    <xs:complexType name = "cocheType">
        <xs:sequence>
            <xs:element type = "xs:string" name = "matricula"/>
            <xs:element type = "xs:string" name = "propietario"/>
            <xs:element type = "xs:string" name = "marca"/>
            <xs:element type = "xs:string" name = "modelo"/>
            <xs:element type = "xs:string" name = "color"/>
            <xs:element type = "xs:int" name = "km"/>
            <xs:element type = "xs:int" name = "km"/>
            <xs:element type = "xs:int" name = "km"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name = "reparacionType">
        <xs:sequence>
            <xs:element type = "xs:string" name = "matricula"/>
            <xs:element type = "xs:string" name = "descripcion"/>
            <xs:element type = "xs:Date" name = "fecha_entrada"/>
            <xs:element type = "xs:Date" name = "fecha_salida"/>
            <xs:element type = "xs:byte" name = "horas"/>
            <xs:element type = "xs:byte" name = "horas"/>
            <xs:element type = "xs:byte" name = "horas"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="codigo" use="optional"/>
    </xs:complexType>
    <xs:complexType name = "cochesType">
        <xs:sequence>
            <xs:element type = "cocheType" name = "coche"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name = "reparacionesType">
        <xs:sequence>
            <xs:element type = "reparacionType" name = "reparacion"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name = "garajeType" >
        <xs:sequence>
            <xs:element type = "cochesType" name = "coches"/>
            <xs:element type = "reparacionesType" name = "reparaciones"/>
        </xs:sequence>
        <xs:attribute type = "xs:string" name = "xmlns:xsi"/>
    </xs:complexType>
</xs:schema>